header{
    background-color: rgb(216, 212, 212);
    color: rgb(245, 112, 214);
    margin: 0px; 
    padding: 5px 30px 0px 30px;
}

body{
    margin: 0px;
}

header h1{
    display: inline;
    margin:0px;
}

nav ul{
    display: inline;
    margin: 0px;
}

nav ul li{

    list-style-type: none;
    display:  inline-block;
    padding: 5px 30px 10px 30px;
}

nav ul li a{
    color: blue;
}

.row{

}

.row:after{
    clear: both;
}

.col{
    float: left;
    width: 31%;
    margin: 1%;
    background-color: rgb(245, 234, 234);
    text-align: center;
    border-radius: 5px;
    padding: 10px 0.1%;
}

.col p{
    padding:10px;
    text-align: justify;
}

