body {
    background: rgb(169, 164, 164);
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
}

h1,h2{
    color: rgb(9, 9, 242);
}

a{
    color:rgb(240, 15, 19);
}

p{
    padding: 2px 20px 2px 20px;
}

.temp1{
    font-family: cursive;
    color: red;
}